body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}


/* Headings */

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}


/* Sections */

.colored-section{
  background-color: #ffa62b;
  color: #fff;
}

.white-section{
  background-color: #fff;
}


/* Navigation Bar */

.navbar {
  padding: 0 0 4rem;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}


/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}


/* Title Section */

#title .container-fluid {
  background-color: #16697a;
  text-align: left;
  padding: 3% 15% 7%;
}

.title-image {
  width: 65%;
  right: 10%;
  padding-left: 50px;
  padding-top: 15px;
  transform: rotate(10deg);
  position: absolute;
}


/* Features */

#features {
  position: relative;
}

.feature-title{
  font-size: 1.5rem;
}

.feature-box {
  padding: 0 5%;
}

.feature-icons {
  margin-bottom: 1rem;
  color: #ffa62b;
}

.feature-icons:hover {
  color: #16697a;
}


/* Testimonials */

.testimonials-images {
  width: 20%;
  margin: 20px;
  border-radius: 100%;
}


/* Press */

#press{
  padding-bottom: 3%;
}

.press-images{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 4rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}


/* Footer */

.social-icons {
  margin: 20px 10px;
}

.social-icons:hover {
  color: #16697a;
}


/* MEDIA BREAKPOINTS */

@media (max-width:1028px) {
  #title{
    text-align: center;
  }

  .title-image {
  position: static;
  transform: rotate(0);
  }
}
